{
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "es2021": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": ["prettier"],
  "overrides": [
    {
      "files": ["webpack.config.js"],
      "parser": "espree",
      "parserOptions": {
        "project": null
      }
    }
  ],
  "rules": {
    "no-console": "warn",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["warn"],
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "prettier/prettier": ["error", {
      "endOfLine": "auto",
      "semi": true,
      "singleQuote": true,
      "printWidth": 100
    }]
  }
}
